body {
  background-color: #4b5320;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

header {
  background-color: #1a1a1a;
  padding: 10px 0;
  margin-bottom: 20px;
}

header button,
#reset-button {
  background-color: #6b8e23;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 1em;
}

header button:hover,
#reset-button:hover {
  background-color: #556b2f;
}

header a {
  color: #9acd32;
  text-decoration: none;
}

.dropdown,
.modal {
  background-color: #333;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  display: none; /* Hide by default */
}

.title {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

img {
  max-width: 30%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
}

.card {
  background-color: #39483d;
  border: 2px solid #1a1a1a;
  padding: 20px;
  margin: 20px;
  width: 30%;
  max-width: 300px;
  border-radius: 10px;
  box-sizing: border-box;
}

.main-card {
  max-width: 25%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  margin-top: 0;
}

.card-button {
  background-color: #808000;
  color: white;
  border: none;
  padding: 10px 20px;
  width: 100%;
  cursor: pointer;
  margin-top: 10px;
}

.card-button:disabled {
  background-color: #556b2f;
  cursor: not-allowed;
}

.card-button:hover:not(:disabled) {
  background-color: #6b8e23;
}
